<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabla-element">
  <template>
    <style>
      :host {
        display: block;
      }
      table{
        width: 100%;
      }
      thead{
        text-transform: uppercase;
      }
    </style>
    <table>
      <thead>
        <tr>
          <template is='dom-repeat' items='[[categories]]'>
            <td>[[item]]</td>
          </template>
        </tr>
      </thead>
      <tbody>
        <template is='dom-repeat' items='[[rows]]'>
            <tr>
                <td>[[item.date]]</td>
                <td>[[item.description]]</td>
                <td>[[item.amount]]</td>
              </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `tabla-element`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TablaElement extends Polymer.Element {
      static get is() { return 'tabla-element'; }
      static get properties() {
        return {
          rows: {
            type: Array,
            value: function(){
              return [
                {
                  date:'14/07/1990',
                  description:'Transaction to new coin',
                  amount:'$560.00',
                },
                {
                  date:'14/07/1990',
                  description:'Transaction to new coin',
                  amount:'$1230.00',
                },
                {
                  date:'14/07/1981',
                  description:'Transaction to new coin',
                  amount:'$10.00',
                }
              ]
            }
          },
          categories: {
            type: Array,
            value:  function(){
              return []
            }
          }
        };
      }

      _toArray(obj) {
        this.set('categories',Object.keys(obj));
      }
      ready(){
        super.ready();
        this._toArray(this.rows[0]);
      }

    }

    window.customElements.define(TablaElement.is, TablaElement);
  </script>
</dom-module>
